In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('bikeshare.csv')

In [6]:
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [7]:
# create a list
color = ['red', 'blue', 'yellow']

In [8]:
color

['red', 'blue', 'yellow']

In [9]:
# add value to a list
color.append('green')

In [10]:
color

['red', 'blue', 'yellow', 'green']

In [11]:
# replace a vlaue inside a list
color[1] = 'orange'

In [12]:
color

['red', 'orange', 'yellow', 'green']

In [14]:
# add value inside a list at specific location
color.insert(2, 'blue')
color

['red', 'orange', 'blue', 'blue', 'yellow', 'green']

In [15]:
fruit = ['apple', 'grape']

In [16]:
color + fruit

['red', 'orange', 'blue', 'blue', 'yellow', 'green', 'apple', 'grape']

In [17]:
color.pop(1)
color

['red', 'blue', 'blue', 'yellow', 'green']

In [18]:
color.insert(1, 'orange')
color

['red', 'orange', 'blue', 'blue', 'yellow', 'green']

In [20]:
animal = ['dog', 'cat', 'fish', 'cat', 'dog']
animal = set(animal)
print(animal)

{'fish', 'cat', 'dog'}

In [22]:
animal.add('bird')
animal.add('fox',)
animal.add('ant')
animal

{'ant', 'bird', 'cat', 'dog', 'fish', 'fox'}

In [23]:
animal.discard('dog')
animal

{'ant', 'bird', 'cat', 'fish', 'fox'}

In [24]:
a_store = set(['Mon', 'Tue', 'Fri', 'Sat', 'Sun'])
b_store = set(['Mon', 'Tue', 'Wed', 'Thurs', 'Fri'])

# Set of all values
a_store.union(b_store)

{'Fri', 'Mon', 'Sat', 'Sun', 'Thurs', 'Tue', 'Wed'}

In [25]:
# Set of all overlapping
a_store.intersection(b_store)

{'Fri', 'Mon', 'Tue'}

In [26]:
# Find the differece as to the target
a_store.difference(b_store)

{'Sat', 'Sun'}

In [27]:
b_store.difference(a_store)

{'Thurs', 'Wed'}

## Tuple

In [28]:
vegie = ['carrot', 'coconut', 'onion', 'lettuce']
monday_price =['$5', '$4.5', '$3']

In [29]:
# create a tuple
tuple(vegie)

('carrot', 'coconut', 'onion', 'lettuce')

In [30]:
# zip 2 lists together
zip_object = zip(vegie, monday_price)

In [31]:
# unpack the zip into a list
store = list(zip_object)

In [32]:
# a list of tuples
store

[('carrot', '$5'), ('coconut', '$4.5'), ('onion', '$3')]

In [33]:
# selecting tuple by list indicies
store[0]

('carrot', '$5')

In [34]:
store[1]

('coconut', '$4.5')

In [35]:
store[2]

('onion', '$3')

## Dictionaries

In [37]:
female_dict = {1: 'EMMA',  2: 'LEAH', 3: 'SARAH', 4: 'SOPHIA', 5: 'Scarlett'}

In [38]:
type(female_dict)

dict

In [39]:
# get dict's key
female_dict.keys()

dict_keys([1, 2, 3, 4, 5])

In [40]:
# get dict's values
female_dict.values()

dict_values(['EMMA', 'LEAH', 'SARAH', 'SOPHIA', 'Scarlett'])

In [41]:
# get dict's items
female_dict.items()

dict_items([(1, 'EMMA'), (2, 'LEAH'), (3, 'SARAH'), (4, 'SOPHIA'), (5, 'Scarlett')])

In [42]:
# define a get rank function to find out a rank of a name (user's input)
def get_rank(names):
    for key, value in female_dict.items():
        if value == names:
            print(key)

In [43]:
# test the function
get_rank('SOPHIA')

4

In [44]:
week_name_dict = {0: 'Monday', 1: 'Tuesday', 2: 'Wendesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}

In [45]:
df['week_name'] = df.weekday.map(week_name_dict)

In [46]:
df.sample(30)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,week_name
10812,10813,2012-03-31,2,1,3,15,0,6,0,2,0.52,0.5000,0.59,0.2836,275,330,605,Sunday
11441,11442,2012-04-26,2,1,4,22,0,4,1,1,0.52,0.5000,0.83,0.1642,20,163,183,Friday
6004,6005,2011-09-12,3,0,9,18,0,1,1,1,0.70,0.6515,0.54,0.1940,56,515,571,Tuesday
13384,13385,2012-07-16,3,1,7,21,0,1,1,1,0.76,0.7273,0.66,0.1343,45,283,328,Tuesday
9285,9286,2012-01-27,1,1,1,19,0,5,1,1,0.36,0.3333,0.50,0.3881,10,241,251,Saturday
11799,11800,2012-05-11,2,1,5,20,0,5,1,1,0.62,0.6061,0.25,0.1343,64,277,341,Saturday
3773,3774,2011-06-11,2,0,6,3,0,6,0,1,0.68,0.6364,0.83,0.0896,10,18,28,Sunday
13671,13672,2012-07-28,3,1,7,20,0,6,0,1,0.66,0.6061,0.83,0.2239,79,154,233,Sunday
16458,16459,2012-11-23,4,1,11,12,0,5,1,1,0.44,0.4394,0.38,0.2537,186,193,379,Saturday
9294,9295,2012-01-28,1,1,1,4,0,6,0,1,0.26,0.2576,0.60,0.1642,0,8,8,Sunday
5335,5336,2011-08-15,3,0,8,5,0,1,1,2,0.60,0.5455,0.88,0.1940,3,14,17,Tuesday
14628,14629,2012-09-06,3,1,9,17,0,4,1,1,0.74,0.6970,0.70,0.2537,67,741,808,Friday
7625,7626,2011-11-19,4,0,11,8,0,6,0,1,0.26,0.2424,0.56,0.2537,12,80,92,Sunday
12920,12921,2012-06-27,3,1,6,13,0,3,1,1,0.80,0.6970,0.27,0.3284,77,244,321,Thursday
14575,14576,2012-09-04,3,1,9,12,0,2,1,1,0.76,0.7273,0.70,0.2836,54,233,287,Wendesday
11229,11230,2012-04-18,2,1,4,2,0,3,1,2,0.50,0.4848,0.42,0.1940,1,8,9,Thursday
16656,16657,2012-12-01,4,1,12,19,0,6,0,2,0.32,0.3485,0.81,0.0000,30,219,249,Sunday
14766,14767,2012-09-12,3,1,9,11,0,3,1,1,0.66,0.6212,0.50,0.1940,51,181,232,Thursday
5968,5969,2011-09-11,3,0,9,5,0,0,0,1,0.60,0.5606,0.83,0.1343,15,24,39,Monday
9646,9647,2012-02-11,1,1,2,21,0,6,0,1,0.14,0.0758,0.43,0.6418,5,43,48,Sunday
10282,10283,2012-03-09,1,1,3,12,0,5,1,1,0.36,0.3333,0.34,0.4179,27,174,201,Saturday
12893,12894,2012-06-26,3,1,6,10,0,2,1,1,0.62,0.6212,0.41,0.3582,37,153,190,Wendesday
7910,7911,2011-12-01,4,0,12,6,0,4,1,1,0.24,0.2121,0.65,0.2836,5,92,97,Friday
4006,4007,2011-06-20,2,0,6,20,0,1,1,1,0.66,0.6212,0.69,0.2239,52,264,316,Tuesday
14982,14983,2012-09-21,3,1,9,11,0,5,1,1,0.66,0.6212,0.57,0.2239,79,242,321,Saturday
5958,5959,2011-09-10,3,0,9,19,0,6,0,1,0.70,0.6515,0.58,0.1343,101,214,315,Sunday
13122,13123,2012-07-05,3,1,7,23,0,4,1,1,0.80,0.7576,0.55,0.1642,32,99,131,Friday
9757,9758,2012-02-16,1,1,2,12,0,4,1,3,0.32,0.3333,0.76,0.0896,1,44,45,Friday
3869,3870,2011-06-15,2,0,6,3,0,3,1,1,0.50,0.4848,0.68,0.2537,0,1,1,Thursday
5574,5575,2011-08-25,3,0,8,4,0,4,1,1,0.66,0.6061,0.78,0.3881,1,6,7,Friday