In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('bikeshare.csv')

In [6]:
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

#### List

In [7]:
# create a list
color = ['red', 'blue', 'yellow']

In [8]:
color

['red', 'blue', 'yellow']

In [9]:
# add value to a list
color.append('green')

In [10]:
color

['red', 'blue', 'yellow', 'green']

In [11]:
# replace a vlaue inside a list
color[1] = 'orange'

In [12]:
color

['red', 'orange', 'yellow', 'green']

In [14]:
# add value inside a list at specific location
color.insert(2, 'blue')
color

['red', 'orange', 'blue', 'blue', 'yellow', 'green']

In [15]:
fruit = ['apple', 'grape']

In [16]:
color + fruit

['red', 'orange', 'blue', 'blue', 'yellow', 'green', 'apple', 'grape']

In [17]:
color.pop(1)
color

['red', 'blue', 'blue', 'yellow', 'green']

In [18]:
color.insert(1, 'orange')
color

['red', 'orange', 'blue', 'blue', 'yellow', 'green']

### Set

In [20]:
animal = ['dog', 'cat', 'fish', 'cat', 'dog']
animal = set(animal)
print(animal)

{'fish', 'cat', 'dog'}

In [22]:
animal.add('bird')
animal.add('fox',)
animal.add('ant')
animal

{'ant', 'bird', 'cat', 'dog', 'fish', 'fox'}

In [23]:
animal.discard('dog')
animal

{'ant', 'bird', 'cat', 'fish', 'fox'}

In [24]:
a_store = set(['Mon', 'Tue', 'Fri', 'Sat', 'Sun'])
b_store = set(['Mon', 'Tue', 'Wed', 'Thurs', 'Fri'])

# Set of all values
a_store.union(b_store)

{'Fri', 'Mon', 'Sat', 'Sun', 'Thurs', 'Tue', 'Wed'}

In [25]:
# Set of all overlapping
a_store.intersection(b_store)

{'Fri', 'Mon', 'Tue'}

In [26]:
# Find the differece as to the target
a_store.difference(b_store)

{'Sat', 'Sun'}

In [27]:
b_store.difference(a_store)

{'Thurs', 'Wed'}

## Tuple

In [28]:
vegie = ['carrot', 'coconut', 'onion', 'lettuce']
monday_price =['$5', '$4.5', '$3']

In [29]:
# create a tuple
tuple(vegie)

('carrot', 'coconut', 'onion', 'lettuce')

In [30]:
# zip 2 lists together
zip_object = zip(vegie, monday_price)

In [31]:
# unpack the zip into a list
store = list(zip_object)

In [32]:
# a list of tuples
store

[('carrot', '$5'), ('coconut', '$4.5'), ('onion', '$3')]

In [33]:
# selecting tuple by list indicies
store[0]

('carrot', '$5')

In [34]:
store[1]

('coconut', '$4.5')

In [35]:
store[2]

('onion', '$3')

## Dictionaries

In [37]:
female_dict = {1: 'EMMA',  2: 'LEAH', 3: 'SARAH', 4: 'SOPHIA', 5: 'Scarlett'}

In [38]:
type(female_dict)

dict

In [39]:
# get dict's key
female_dict.keys()

dict_keys([1, 2, 3, 4, 5])

In [40]:
# get dict's values
female_dict.values()

dict_values(['EMMA', 'LEAH', 'SARAH', 'SOPHIA', 'Scarlett'])

In [41]:
# get dict's items
female_dict.items()

dict_items([(1, 'EMMA'), (2, 'LEAH'), (3, 'SARAH'), (4, 'SOPHIA'), (5, 'Scarlett')])

In [42]:
# define a get rank function to find out a rank of a name (user's input)
def get_rank(names):
    for key, value in female_dict.items():
        if value == names:
            print(key)

In [43]:
# test the function
get_rank('SOPHIA')

4

In [6]:
week_name_dict = {0: 'Monday', 1: 'Tuesday', 2: 'Wendesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}

In [45]:
df['week_name'] = df.weekday.map(week_name_dict)

In [5]:
df.sample(10)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
1693,1694,2011-03-16,1,0,3,5,0,3,1,2,0.30,0.3182,0.93,0.1045,0,3,3
12848,12849,2012-06-24,3,1,6,13,0,0,0,1,0.80,0.6970,0.33,0.2836,237,348,585
15465,15466,2012-10-11,4,1,10,14,0,4,1,1,0.52,0.5000,0.32,0.0896,78,270,348
14990,14991,2012-09-21,3,1,9,19,0,5,1,1,0.64,0.6061,0.65,0.2537,95,493,588
15671,15672,2012-10-20,4,1,10,4,0,6,0,1,0.44,0.4394,0.72,0.0000,9,9,18
3616,3617,2011-06-04,2,0,6,14,0,6,0,1,0.74,0.6515,0.33,0.2239,193,258,451
12882,12883,2012-06-25,3,1,6,23,0,1,1,1,0.64,0.6212,0.33,0.3284,15,88,103
16649,16650,2012-12-01,4,1,12,12,0,6,0,2,0.32,0.3333,0.81,0.0896,119,327,446
10977,10978,2012-04-07,2,1,4,13,0,6,0,1,0.50,0.4848,0.22,0.1940,355,288,643
992,993,2011-02-14,1,0,2,0,0,1,1,1,0.38,0.3939,0.37,0.3582,3,8,11

In [7]:
df['week_name'] = df.weekday.map(week_name_dict)

In [8]:
df.sample(10)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,week_name
3300,3301,2011-05-22,2,0,5,10,0,0,0,1,0.64,0.6061,0.65,0.1343,135,170,305,Monday
8835,8836,2012-01-08,1,1,1,23,0,0,0,1,0.26,0.2424,0.56,0.2537,0,30,30,Monday
2670,2671,2011-04-26,2,0,4,4,0,2,1,1,0.56,0.5303,0.83,0.2537,2,4,6,Wendesday
14310,14311,2012-08-24,3,1,8,11,0,5,1,2,0.76,0.6818,0.48,0.1045,69,212,281,Saturday
8102,8103,2011-12-09,4,0,12,6,0,5,1,1,0.22,0.2576,0.80,0.0896,1,62,63,Saturday
17060,17061,2012-12-18,4,1,12,15,0,2,1,1,0.46,0.4545,0.44,0.4925,28,218,246,Wendesday
12219,12220,2012-05-29,2,1,5,8,0,2,1,1,0.70,0.6667,0.74,0.1940,46,588,634,Wendesday
16782,16783,2012-12-07,4,1,12,1,0,5,1,2,0.24,0.2273,0.70,0.1940,2,26,28,Saturday
14468,14469,2012-08-31,3,1,8,1,0,5,1,1,0.68,0.6364,0.83,0.1642,8,24,32,Saturday
8959,8960,2012-01-14,1,1,1,4,0,6,0,1,0.14,0.1515,0.50,0.1343,0,3,3,Sunday